{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<!--Section Start-->
<div class="sigma_banner light-bg">
    <div class="sigma_banner-slider">
        <div class="banner-slider-inner">
            <div class="sigma_banner-text">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h1 class="title">

                                X-Men Vs The Avengers

                            </h1>
                            <p>United Kingdom and Ireland) simply comic, is a publication by the readable content of a
                                page when looking at its layout.</p>
                            <form method="post" class="banner-links">
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="email" name="email" placeholder="Enter your email">
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn-block mt-4 mt-md-0">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <div class="sigma_banner-image mt-5 mt-lg-0">
                                <img src="{% static 'img/home-2/540x400.jpg' %}" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-slider-inner">
            <div class="sigma_banner-text">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h1 class="title">

                                Spider Mania: Amazing.

                            </h1>
                            <p>United Kingdom and Ireland) simply comic, is a publication by the readable content of a
                                page when looking at its layout.</p>
                            <form method="post" class="banner-links">
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="email" name="email" placeholder="Enter your email">
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn-block mt-4 mt-md-0">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <div class="sigma_banner-image mt-5 mt-lg-0">
                                <img src="{% static 'img/home-2/540x400-0.jpg' %}" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container sigma_banner-social d-none d-sm-block">
        <ul class="sigma_social-icons justify-content-start">
            <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
    </div>
</div>
<!--Section End-->
<!--Section Start-->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="sigma_about style-4">
                    <div class="sigma_about-image-1">
                        <img src="{% static 'img/home-2/479x600.jpg' %}" alt="img">
                    </div>
                    <a href="https://www.youtube.com/watch?v=KH1pcNUTa6U" class="sigma_video-btn popup-video">
                        <i class="far fa-play"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="sigma_about style-4 pl-lg-4 mt-5 mt-lg-0">
                    <div class="section-title">
                        <span class="subtitle">About us</span>
                        <h3 class="title">I am here With 30 Years of <span class="primary-color">Experience</span>
                        </h3>
                    </div>
                    <div class="sigma_about-content">
                        <p class="m-0">A comic book, also called comic magazine or (in the . United Kingdom and Ireland)
                            simply comic, is a publication by the readable content of a page that a reader will be
                            distracted.A comic book, also called comic magazine or (in the </p>
                        <ul class="sigma_about-list">
                            <li>
                                <span>Name: </span>
                                <p class="mb-0">Jacob Thomas</p>
                            </li>
                            <li>
                                <span>Country: </span>
                                <p class="mb-0">US</p>
                            </li>
                            <li>
                                <span>Freelance: </span>
                                <p class="mb-0">Available</p>
                            </li>
                            <li>
                                <span>Comics Shop: </span>
                                <p class="mb-0">Comico</p>
                            </li>
                            <li>
                                <span>Languages: </span>
                                <p class="mb-0">English, French</p>
                            </li>
                            <li>
                                <span>Address: </span>
                                <p class="mb-0">Etowah, TN 37331 United States</p>
                            </li>
                        </ul>
                        <a href="about-us.html" class="sigma_btn">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Section End-->
<!--Section Start-->
<div class="section section-padding pt-0">
    <div class="container">
        <div class="section-title centered">
            <h3 class="title">Trending Products</h3>
            <p>A comic book, also called comic magazine or (in the . United Kingdom and Ireland) simply comic, is a
                publication .Lorem ipsum dolor</p>
        </div>
        <div class="row">
            <!-- Product Start -->
            <div class="col-md-4">
                <div class="sigma_product style-4">
                    <div class="sigma_product-thumb">
                        <a href="product-details.html">
                            <img src="{% static 'img/home-2/500.jpg' %}" alt="product">
                        </a>
                    </div>
                    <div class="sigma_product-body">
                        <h5 class="sigma_product-title"><a href="product-details.html">Batman Fortnite</a></h5>
                        <div class="sigma_product-price">
                            <span>29$</span>
                            <span>49$</span>
                        </div>
                        <div class="sigma_rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Panels are often accompanied by descriptive prose and written narrative, usually.</p>
                        <a href="#" class="sigma_btn btn-sm">Add to Cart</a>
                    </div>
                </div>
            </div>
            <!-- Product End -->
            <!-- Product Start -->
            <div class="col-md-4">
                <div class="sigma_product style-4">
                    <div class="sigma_product-thumb">
                        <a href="product-details.html">
                            <img src="{% static 'img/home-2/500-0.jpg' %}" alt="product">
                        </a>
                    </div>
                    <div class="sigma_product-body">
                        <h5 class="sigma_product-title"><a href="product-details.html">Critical Role</a></h5>
                        <div class="sigma_product-price">
                            <span>29$</span>
                            <span>49$</span>
                        </div>
                        <div class="sigma_rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Panels are often accompanied by descriptive prose and written narrative, usually.</p>
                        <a href="#" class="sigma_btn btn-sm">Add to Cart</a>
                    </div>
                </div>
            </div>
            <!-- Product End -->
            <!-- Product Start -->
            <div class="col-md-4">
                <div class="sigma_product style-4">
                    <div class="sigma_product-thumb">
                        <a href="product-details.html">
                            <img src="{% static 'img/home-2/500-1.jpg' %}" alt="product">
                        </a>
                    </div>
                    <div class="sigma_product-body">
                        <h5 class="sigma_product-title"><a href="product-details.html">Doomsday Clocks</a></h5>
                        <div class="sigma_product-price">
                            <span>35$</span>
                            <span>55$</span>
                        </div>
                        <div class="sigma_rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Panels are often accompanied by descriptive prose and written narrative, usually.</p>
                        <a href="#" class="sigma_btn btn-sm">Add to Cart</a>
                    </div>
                </div>
            </div>
            <!-- Product End -->
        </div>
    </div>
</div>
<!--Section End-->
<!--Section Start-->
<div class="section section-padding pt-0">
    <div class="container">
        <div class="section-title centered">
            <h3 class="title">Fun Facts</h3>
            <p>A comic book, also called comic magazine or (in the . United Kingdom and Ireland) simply comic, is a
                publication .Lorem ipsum dolor</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="sigma_counter">
            <span>

                <b class="counter" data-from="0" data-to="25">25</b>

                <span class="plus">+</span>
            </span>
                    <p>Sale Per Day</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="sigma_counter">
            <span>

                <b class="counter" data-from="0" data-to="58">58</b>

                <span class="plus">+</span>
            </span>
                    <p>Years Practical Experience</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="sigma_counter">
            <span>

                <b class="counter" data-from="0" data-to="96">96</b>

                <span class="plus">+</span>
            </span>
                    <p>Awesome Team Members</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Section End-->
<!--Section Start-->
<div class="section section-padding bg-cover bg-center dark-overlay"
     style="background-image: url('{% static '/img/feature.jpg' %}')">
    <div class="container">
        <div class="section-title centered">
            <h3 class="title text-white">Why Us</h3>
            <p class="text-white">A comic book, also called comic magazine or (in the . United Kingdom and Ireland)
                simply comic, is a publication .Lorem ipsum dolor</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="sigma_info style-8">
                    <div class="sigma_info-title">
                        <div class="sigma_info-icon">
                            <i class="flaticon-customer-service is_flaticon"></i>
                            <span class="text">1</span>
                        </div>
                        <h5>24/7 Support</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sigma_info style-8">
                    <div class="sigma_info-title">
                        <div class="sigma_info-icon">
                            <i class="flaticon-comic-book is_flaticon"></i>
                            <span class="text">2</span>
                        </div>
                        <h5>Come To Our Store</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sigma_info style-8">
                    <div class="sigma_info-title">
                        <div class="sigma_info-icon">
                            <i class="flaticon-delivery-truck is_flaticon"></i>
                            <span class="text">3</span>
                        </div>
                        <h5>free Home Delievery</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sigma_info style-8">
                    <div class="sigma_info-title">
                        <div class="sigma_info-icon">
                            <i class="flaticon-rating is_flaticon"></i>
                            <span class="text">4</span>
                        </div>
                        <h5>Great Users Feedback</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sigma_info style-8">
                    <div class="sigma_info-title">
                        <div class="sigma_info-icon">
                            <i class="flaticon-team is_flaticon"></i>
                            <span class="text">5</span>
                        </div>
                        <h5>Expert Team</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sigma_info style-8">
                    <div class="sigma_info-title">
                        <div class="sigma_info-icon">
                            <i class="flaticon-guarantee is_flaticon"></i>
                            <span class="text">6</span>
                        </div>
                        <h5>We are Certified</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Section End-->
<!--Section Start-->
<div class="section section-padding">
    <div class="container">
        <div class="section-title centered">
            <h3 class="title">Our Categories</h3>
            <p>A comic book, also called comic magazine or (in the . United Kingdom and Ireland) simply comic, is a
                publication .Lorem ipsum dolor</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="sigma_category style-2">
                    <a href="shop.html">
                        <img src="{% static 'img/home-1/540x600.jpg' %}" alt="category">
                    </a>
                    <div class="sigma_category-content">
                        <span>Batman</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-12">
                        <div class="sigma_category style-2">
                            <a href="shop.html">
                                <img src="{% static 'img/home-1/540x285.jpg' %}" alt="category">
                            </a>
                            <div class="sigma_category-content">
                                <span>Shadow  &amp; Bone</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="sigma_category style-2">
                            <a href="shop.html">
                                <img src="{% static 'img/home-1/540x285-0.jpg' %}" alt="category">
                            </a>
                            <div class="sigma_category-content">
                                <span>Manga</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Section End-->
<!--Section Start-->
<div class="section section-padding pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="sigma_cta bg-primary-1 style-4">
                    <div class="shape-1">
                    </div>
                    <span class="sigma_cta-icon-box">

                <i class="flaticon-comic is_flaticon"></i>

              </span>
                    <div class="sigma_cta-title text-white">
                        <h5 class="text-white">Making More Possible</h5>
                        <p>United Kingdom and Ireland) simply comic, is a publication by the readable content of a page
                            when looking at its layout.</p>
                    </div>
                    <form method="post">
                        <div class="input-group">
                            <input type="email" name="email" placeholder="Enter your email">
                            <div class="input-group-append">
                                <button type="button" class="secondary">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="sigma_cta style-4">
                    <div class="shape-1">
                    </div>
                    <span class="sigma_cta-icon-box">

                <i class="flaticon-smartphone is_flaticon"></i>

              </span>
                    <div class="sigma_cta-title">
                        <h5>Download Our App</h5>
                        <p>United Kingdom and Ireland) simply comic, is a publication by the readable content of a page
                            when looking at its layout.</p>
                    </div>
                    <button type="button">Download Free</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Section End-->
<!--Section Start-->
<div class="modal fade sigma_quick-view-modal" id="quickViewModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="sigma_close" data-dismiss="modal">
                    <span></span>
                    <span></span>
                </div>
                <div class="row sigma_product-single">
                    <div class="col-md-6">
                        <div class="sigma_product-single-thumb">
                            <img src="{% static 'img/home-2/600.jpg' %}" alt="product">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sigma_product-single-content">
                            <div class="sigma_product-price">
                                <span>352$</span>
                                <span>245$</span>
                            </div>
                            <div class="sigma_rating-wrapper">
                                <div class="sigma_rating">
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span>255 Reviews</span>
                            </div>
                            <hr>
                            <p class="sigma_product-excerpt">
                                Donec sollicitudin molestie malesuada. Nulla porttitor accumsan tincidunt. Vestibulum
                                ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit
                                neque,
                            </p>
                            <div class="sigma_product-meta">
                                <p><strong>Product SKU: <span>#3382dk</span></strong>
                                </p>
                                <p><strong>Availablity: <span>In Stock</span></strong>
                                </p>
                                <p><strong>Tags: </strong> <a href="#">Comics</a>, <a href="#">Novels</a>
                                </p>
                            </div>
                            <hr>
                            <form class="sigma_product-atc-form">
                                <div class="sigma_product-buttons d-block">
                                    <a href="product-details.html" class="ml-0 btn-block sigma_btn">Buy Now <i
                                            class="far fa-shopping-basket"></i> </a>
                                    <a href="product-details.html" class="ml-0 btn-block sigma_btn light">Wishlist <i
                                            class="far fa-heart"></i> </a>
                                    <a href="product-details.html" class="ml-0 btn-block sigma_btn light">Compare <i
                                            class="far fa-compress"></i> </a>
                                </div>
                            </form>
                            <!-- Post Meta Start -->
                            <div class="sigma_post-single-meta">
                                <div class="sigma_post-single-meta-item sigma_post-share">
                                    <h5>Share</h5>
                                    <ul class="sigma_sm">
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Post Meta End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Section End-->
<!--Section Start-->
<div class="section pt-0">
    <div class="container">
        <div class="section-title centered">
            <h3 class="title">Our Testimonial</h3>
            <p>A comic book, also called comic magazine or (in the . United Kingdom and Ireland) simply comic, is a
                publication .Lorem ipsum dolor</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="sigma_testimonial-slider-2">
                    <div class="sigma_testimonial style-8">
                        <div class="sigma_testimonial-thumb">
                            <img src="{% static 'img/home-2/100x100.jpg' %}" alt="testimonial">
                        </div>
                        <div class="sigma_testimonial-body">
                            <div class="sigma_author-block">
                                <h5>

                                    Aash Aron

                                </h5>
                                <span class="sigma_testimonial-category">Reader</span>
                            </div>
                            <p>"United Kingdom and Ireland) simply comic, is a publication by the readable content of a
                                page when looking at its layout.United Kingdom and Ireland) simply comic, is a
                                publication by the readable content of a page when looking at its layout."</p>
                        </div>
                    </div>
                    <div class="sigma_testimonial style-8">
                        <div class="sigma_testimonial-thumb">
                            <img src="{% static 'img/home-2/100x100-0.jpg' %}" alt="testimonial">
                        </div>
                        <div class="sigma_testimonial-body">
                            <div class="sigma_author-block">
                                <h5>

                                    Maria

                                </h5>
                                <span class="sigma_testimonial-category">Analyst</span>
                            </div>
                            <p>"United Kingdom and Ireland) simply comic, is a publication by the readable content of a
                                page when looking at its layout.United Kingdom and Ireland) simply comic, is a
                                publication by the readable content of a page when looking at its layout."</p>
                        </div>
                    </div>
                    <div class="sigma_testimonial style-8">
                        <div class="sigma_testimonial-thumb">
                            <img src="{% static 'img/home-2/100x100-1.jpg' %}" alt="testimonial">
                        </div>
                        <div class="sigma_testimonial-body">
                            <div class="sigma_author-block">
                                <h5>

                                    John Doe

                                </h5>
                                <span class="sigma_testimonial-category">Owner</span>
                            </div>
                            <p>"United Kingdom and Ireland) simply comic, is a publication by the readable content of a
                                page when looking at its layout.United Kingdom and Ireland) simply comic, is a
                                publication by the readable content of a page when looking at its layout."</p>
                        </div>
                    </div>
                </div>
                <div class="slider-nav-thumbnails">
                    <div class="sigma_testimonial-thumb">
                        <img src="{% static 'img/home-2/70x70.jpg' %}" alt="testimonial">
                    </div>
                    <div class="sigma_testimonial-thumb">
                        <img src="{% static 'img/home-2/70x70-0.jpg' %}" alt="testimonial">
                    </div>
                    <div class="sigma_testimonial-thumb">
                        <img src="{% static 'img/home-2/70x70-1.jpg' %}" alt="testimonial">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Section End-->
<!--Section Start-->
<div class="section section-padding pt-0">
    <div class="container">
        <div class="section-title centered">
            <h3 class="title">Latest Blog</h3>
            <p>A comic book, also called comic magazine or (in the . United Kingdom and Ireland) simply comic, is a
                publication .Lorem ipsum dolor</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <article class="sigma_post style-12">
                    <div class="sigma_post-thumb">
                        <a href="blog-details.html">
                            <img src="{% static 'img/home-2/350x300.jpg' %}" alt="img">
                        </a>
                    </div>
                    <div class="sigma_post-body">
                        <div class="sigma_post-content">
                            <div class="sigma_post-meta is-absolute">
                                <a href="blog-details.html" class="sigma_post-date">
                                    <i class="fal fa-calendar-alt"></i>
                                    28 January, 2021
                                </a>
                            </div>
                            <div class="sigma_post-meta">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-user"></i>
                                            By Admin
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-folder-open"></i>
                                            Air Transport
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <h5>

                                <a href="blog-details.html">The Star Sapphire Trilogy in Green Lantern</a>

                            </h5>
                            <p class="m-0">United Kingdom and Ireland) simply comic, is a publication by the readable
                                content of a page when looking at its layout.
                            </p>
                        </div>
                        <a href="blog-details.html" class="btn-link">

                            Read more

                            <i class="far fa-angle-right"></i>

                        </a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="sigma_post style-12">
                    <div class="sigma_post-thumb">
                        <a href="blog-details.html">
                            <img src="{% static 'img/home-2/350x300-0.jpg' %}" alt="img">
                        </a>
                    </div>
                    <div class="sigma_post-body">
                        <div class="sigma_post-content">
                            <div class="sigma_post-meta is-absolute">
                                <a href="blog-details.html" class="sigma_post-date">
                                    <i class="fal fa-calendar-alt"></i>
                                    12 August, 2021
                                </a>
                            </div>
                            <div class="sigma_post-meta">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-user"></i>
                                            By Admin
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-folder-open"></i>
                                            Sea Transport
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <h5>

                                <a href="blog-details.html">Your Wish is Our Commando</a>

                            </h5>
                            <p class="m-0">United Kingdom and Ireland) simply comic, is a publication by the readable
                                content of a page when looking at its layout.
                            </p>
                        </div>
                        <a href="blog-details.html" class="btn-link">

                            Read more

                            <i class="far fa-angle-right"></i>

                        </a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="sigma_post style-12">
                    <div class="sigma_post-thumb">
                        <a href="blog-details.html">
                            <img src="{% static 'img/home-2/350x300-1.jpg' %}" alt="img">
                        </a>
                    </div>
                    <div class="sigma_post-body">
                        <div class="sigma_post-content">
                            <div class="sigma_post-meta is-absolute">
                                <a href="blog-details.html" class="sigma_post-date">
                                    <i class="fal fa-calendar-alt"></i>
                                    28 April, 2021
                                </a>
                            </div>
                            <div class="sigma_post-meta">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-user"></i>
                                            By Admin
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-folder-open"></i>
                                            Road Transport
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <h5>

                                <a href="blog-details.html">More Early Issues From The Stapled Collection</a>

                            </h5>
                            <p class="m-0">United Kingdom and Ireland) simply comic, is a publication by the readable
                                content of a page when looking at its layout.
                            </p>
                        </div>
                        <a href="blog-details.html" class="btn-link">

                            Read more

                            <i class="far fa-angle-right"></i>

                        </a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<!--Section End-->

{% endblock main_content %}

